.container {
    display: flex;
    flex-direction: column;

    gap: 24px;
}
.friendListItem {
    display: flex;
    align-items: center;
    gap: 20px;
    border: 3px solid black;
    border-radius: 15px;
    padding: 17px;
}
.status {
    height: 16px;
    width: 16px;
    border-radius: 50%;
}
.status.online {
    background-color: green;
}
  
.status.offline {
    background-color: red;
}
.name {
    font-size: 31px;
}